


<div class="container">
    <h3>ADRESSES</h3>

    <div class="row">
        <div class="col-sm4-md3" id="format">
            <p> BUSH</p>
            <p>TAVERNE DE MESLE - Paris 4ème</p>
            <p>BRASSERIE DU LOUP - Paris 5ème</p>
        </div>
        <div class="col-sm4-md3" id="format">
            <p> KWAK</p>
            <p>TAVERNE DE MESLE - Paris 4ème</p>
        </div>
        <div class="col-sm4-md3" id="format">
            <p> TROUBADOUR MAGMA</p>
            <p>TAVERNE DE MESLE - Paris 4ème</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm4-md3" id="format">
            <p> ORVAL</p>
            <p>TAVERNE DE MESLE - Paris 4ème</p>
        </div>
        <div class="col-sm4-md3" id="format">
            <p> DIOLE</p>
            <p>TAVERNE DE MESLE - Paris 4ème</p>
        </div>
        <div class="col-sm4-md3" id="format">
            <p> FRUIT DEFENDU</p>
            <p>TAVERNE DE MESLE - Paris 4ème</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm4-md3" id="format">
            <p> AMARANTE</p>
            <p>TAVERNE DE MESLE - Paris 4ème</p>
        </div>
        <div class="col-sm4-md3" id="format">
            <p> BON SECOURS</p>
            <p>TAVERNE DE MESLE - Paris 4ème</p>
        </div>
    </div>
</div>



