{% extends 'base.html.twig' %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/imgfond.css') }}">

<button type="button" class="btn btn-outline-warning"><a href="accueil">ENTER</a></button>

{% endblock %}