.btn {position: absolute;
      z-index: 2;
      margin-left: 600px;
      top: 400px;
      width: 150px;
      height: 70px;
      color: black;}

.btn:hover{transform: scale(1.01);
        }

h1 {font-size: 38px;}


/*NAVBAR */
a {color: black;
font-size: 24px;}

.titre {font-size: 24px;
      text-align: center;
      margin-top: 20px;}


.nav-link {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;}

      

.logo {margin-right: 20px;
      background-color: antiquewhite;}


.card-body {width: 80%;
      }

.card-subtitle {color: green;}


/*TEXTE */
.card-title {text-align: center;
             font-weight: bold;
             text-transform: uppercase;
             font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

h1 {font-size: 75px;
     text-transform: uppercase;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding-top: 100px;
      padding-bottom: 100px;}


/*BELGIQUE */

h3 {margin-top: 50px;}

#format {margin-right: 120px;
          margin-top: 100px;
         background-color: moccasin;}



/*FRANCE */




/*ANGLETERRE */



/*FOOTER */

footer {background-color:orange;}

.text {color: white;
       font-size: 17px;}


.bg-warning {border-radius: 5px 5px 5px 5px;}

.text-danger {font-size: 15px;}


