{% extends 'base.html.twig' %}

{% block title %}Hello AngleterreController!{% endblock %}

{% block body %}



   
   
<nav class="navbar navbar-expand-sm navbar-dark bg-warning">
       <a href="#" class="navbar-brand">MAISON DE L'AMBRÉE</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
        
        <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="accueil" class="nav-link">ACCUEIL</a></li>
        <li class="nav-item"><a href="france" class="nav-link">FRANCE</a></li>
        <li class="nav-item"><a href="angleterre" class="nav-link">ANGLETERRE</a></li>
        <li class="nav-item"><a href="allemagne" class="nav-link">ALLEMAGNE</a></li>
        </ul>
        </div><!-- FIN NAVBAR-COLLAPSE -->
     </nav><!-- FIN NAVBAR -->


  <div class="pays">
    <h1 class="text-center mt-4">ANGLETERRE</h1>
  </div>

    

  


{% endblock %}
