{% extends 'base.html.twig' %}

{% block title %}Hello AngleterreController!{% endblock %}

{% block body %}


<div class="pays">
  <h1 class="text-center mt-4">ANGLETERRE</h1>
</div>

    

  


{% endblock %}
