{% extends 'base.html.twig' %}


{% block title %}FranceController!{% endblock %}

{% block body %}

    

<div class="pays">
    <h1 class="text-center mt-4">FRANCE</h1>
</div>

<div class="container">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="img/sans-culottz325.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Sans Culotte</h5>
        <p class="card-text">Jaune et dorée avec une mousse blanche et généreuse.</p>
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Arômes de caramel, d'épices, de levure, de fruits et de miel.</li>
      <li class="list-group-item">Saveurs d'herbes, d'épices, de levure, de fruits et de caramel.</li>
      <li class="list-group-item">6°</li>
      <li class="list-group-item">33cl</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>




{% endblock %}
