<footer class="text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-3">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">services Clients</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text">Aide et contact</a>
          </li>
          <li>
            <a href="#!" class="text">Avis clients</a>
          </li>
          <li>
            <a href="#!" class="text">Parrainage</a>
          </li>
          <li>
            <a href="#!" class="text"></a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">A propos</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text">Qui sommes-nous ?</a>
          </li>
          <li>
            <a href="#!" class="text">L"équipe</a>
          </li>
          <li>
            <a href="#!" class="text">Le mag</a>
          </li>
          <li>
            <a href="#!" class="text"></a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Conditions</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text">Conditions générales d'utilisations</a>
          </li>
          <li>
            <a href="#!" class="text">Mentions lègales</a>
          </li>
          <li>
            <a href="#!" class="text">Conditions des offres</a>
          </li>
          <li>
            <a href="#!" class="text"></a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Suivez-nous</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text"><i class="fab fa-twitter"></i><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#!" class="text"></a>
          </li>
          <li>
            <a href="#!" class="text"></a>
          </li>
          <li>
            <a href="#!" class="text"></a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text">
    © 2020 Copyright:
    <a class="text">La Maison de l'Ambrée</a>
  </div>
  <!-- Copyright -->
</footer>
