{% extends 'base.html.twig' %}

{% block title %}Hello BelgiqueController!{% endblock %}

{% block body %}

<div class="pays">
    <h1 class="text-center mt-4">BELGIQUE</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-3 mr-5">
        {% for article in articles %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="img/kwak.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">{{ article.title }}</h5>
        <p class="card-text">Robe ambrée aux reflets cuivrés avec une tête blanche et moelleuse.</p>
      </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Caramélisé, épicé et fruité</li>
      <li class="list-group-item">Ronde et douce, fine amertume</li>
      <li class="list-group-item">8.4°</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
        {% endfor %}
    </div><!-- FIN COL-3 -->
  </div><!-- FIN ROW -->
</div><!-- FIN CONTAINER -->




{% endblock %}
