{% extends 'base.html.twig' %}

{% block title %}LA MAISON DE L'AMBRÉE{% endblock %}

{% block body %}
 
 <nav class="navbar navbar-expand-sm navbar-dark bg-warning">
       <a href="#" class="navbar-brand">MAISON DE L'AMBRÉE</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
        
        <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="accueil" class="nav-link">ACCUEIL</a></li>
        <li class="nav-item"><a href="france" class="nav-link">FRANCE</a></li>
        <li class="nav-item"><a href="angleterre" class="nav-link">ANGLETERRE</a></li>
        <li class="nav-item"><a href="allemagne" class="nav-link">ALLEMAGNE</a></li>
        </ul>
        </div><!-- FIN NAVBAR-COLLAPSE -->
     </nav><!-- FIN NAVBAR -->

  <div class="container">
    <div class="row">
      <fiv class="col-6 mt-5">
      <h2>FABRICATION</h2>
      <p>Bière ambrée, mais qu’est-ce qu’elle cache ?
          Pourquoi les bières ambrées ne sont-elles pas blondes ou brunes ? D’où viennent-elles ? C’est quoi leur goût ? On vous explique tout !
          Leur origine d’abord.Les bières ambrées ont été créées dans les pays celtiques, et notamment en Irlande, où les moines maîtrisaient parfaitement l’art du brassage et de la fermentation. Est-ce pour séduire les consommateurs lassés par les traditionnelles stouts irlandaises, jugées souvent trop amères qu’ils se lancèrent dans la confection de ces « bières ambrées » ?
          On peut l’imaginer…
          Pourquoi cette couleur si particulière justement des bières ambrées ? Elle tient au malt qui, contrairement aux bières blondes, est ici légèrement torréfié, dans une proportion d’au moins 10 %. Résultat : les reflets de la bière ambrée vont du roux plus ou moins foncé à l’or cuivré.
          Le goût, parlons-en ! Les bières ambrées se caractérisent par des saveurs plus corsées et des notes de réglisse ou de noisette, avec un degré d’alcool qui côtoie les 8°. 
          Conseils de dégustation : pour que ses arômes se développent de façon idéale, servez-la légèrement moins fraîche qu’une bière blonde (8 °C). Et pour la déguster, choisissez un verre droit et simple, dans la plus pure tradition des pubs irlandais !</p>
      </div><!-- FIN COL-6 -->
        <div class="col-6">
          <img src={{ asset('img/usine_489x340.jpg') }} />
        </div><!-- FIN COL-6 -->
    </div><!-- FIN ROW -->
  </div><!-- FIN CONTAINER -->

{% endblock %}