
<footer>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>A PROPOS</div>
        </div><!-- FIN COL-4 -->
        <div class="col-md-4">
            <h4>CGU</div>
        </div><!-- FIN COL-4 -->
        <div class="col-md-4">
            <h4>INFORMATION</div>
        </div><!-- FIN COL-4 -->
    </div><!-- FIN ROW -->
</div><!-- FIN CONTAINER -->

</footer>