
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FABD2F">
  <a class="navbar-brand" href="#">MAISON DE L'AMBRÉE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="belgique">Belgique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="france">France</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="angleterre">Angleterre</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="allemagne">Allemagne</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          mon Compte
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if not app.user %}
          <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
          <a class="dropdown-item" href="{{ path('app_register') }}">S'enregistrer</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          {% if app.user %}
          <a class="dropdown-item" href="{{ path('app_logout') }}">déconnecter</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if not app.user %}
          <a class="dropdown-item" href="#">Se connecter</a>
          <a class="dropdown-item" href="#">S'enregistrer</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          {% if app.user %}
          <a class="dropdown-item" href="#">déconnecter</a>
          {% endif %}
        </div>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>