{% extends 'base.html.twig' %}

{% block title %}Hello AllemagneController!{% endblock %}

{% block body %}



<div class="pays">
  <h1 class="text-center mt-4">ALLEMAGNE</h1>
</div>

<div class="container">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="#" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">nom biere</h5>
        <p class="card-text">Apparence</p>
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Arômes</li>
      <li class="list-group-item">Gout</li>
      <li class="list-group-item">Degre</li>
      <li class="list-group-item">Contenance</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>











{% endblock %}
